<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Weather App</title>
</head>
<body>
    <h1>Mini Weather App</h1>
    
    <% if(typeof results != "undefined" && !results.error){ %>
        <ul>
            <li>Date: <%= results.date %></li>
            <li>Location: <%= results.location %></li>
            <li>Lows (c): <%= results.min_temp %></li>
            <li>Highs (c): <%= results.max_temp %></li>
        </ul>
    <% } %>

    <% if(typeof newLocation != "undefined" && (typeof results == "undefined" || results.error)){ %>
        <ul>
            <li>Could not find weather data on: <%= newLocation %></li>
            <li>Either bad search parameter or bad api call.</li>
        </ul>
    <% } %>

    <form action="/dispWeather" method="POST">
        <input type="text" name="newLocation" placeholder="search location">
        <button>Search</button>
    </form>
</body>
</html>